<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to COZA Membership Platform</title>
</head>
<body>
    <p>Dear {{.FirstName}}, </p>
    <p>Welcome to COZA Membership Platform.</p>
    <p>Use the following OTP to verify your email: {{.Otp}}</p>

    <p>COZA FHA Team</p>
</body>
</html>